/*SVG Loading*/
svg path,
svg rect{
  fill: black;
}


/*Animacion animated  */
.animated.slower {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
  }


@media (prefers-reduced-motion) {
    .animated.animated.slower {
      -webkit-animation: unset !important;
      animation: unset !important;
      -webkit-transition: none !important;
      transition: none !important;
    }
  }

  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
@keyframes fadeIn {
from {
    opacity: 0;
}

to {
    opacity: 1;
}
}

.fadeIn {
-webkit-animation-name: fadeIn;
animation-name: fadeIn;
}